:root{
    --blue:#4F71A6;
}

* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

h1{
   color:#4F71A6 ;
}


h3{
    color:var(--blue);
}
h2{
    background-color:white;
}
h2{
    background-color:white;
}

body{
    padding: 0 20%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
.contentLineheight{
    line-height: normal;
}
.side{
    display:flex;
    flex-direction: column;
    width:25%;
    border:red 2px;
    background-color: var(--blue);
    line-height: 200%;
}
.side.profilePic{
    flex-direction: row;
    justify-content: center;
}
.sideContainer h2{
    padding: 16px 24px;
}
.sideContainer .Content{
    margin:24px;
    color: white;
}   
.sideContainer a, .sideContainer i {
    color: white;
}

header{
    display: flex;
    width:100%;
    height:200px;
}

header .headerContent{
    display: flex;
    flex-direction:column-reverse;
    text-align:left;
    width:75%;
    padding: 24px;
}
header .profilePicContainer{
    margin: 24px;
    border-radius: 50%;
    width: 150px;
    height:150px;
    overflow: hidden;
}
header img{
    width:100%;
}

main{
    width:100%;
    display: flex;
}
.mainContent{
    display: flex;
    flex-direction: column;
    width:75%;
}
.mainContent i{
    color:var(--blue) ;
    
}

section h2{
    padding:16px 24px ;
}
hr{
    margin:0 24px ;
    border: 1px var(--blue) solid;
}
section .Content{
    margin: 24px;
}
.formblock{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.formblock p{
    width: 30%;
}
.formblock p{
    width: 100%;
}
/* FOOTER */
footer{
    width:100%;
    display:flex;
}

.footerContent{
    width: 75%;
    margin: 0px 24px; 
}
.footerContent h2{
    padding:16px ;

}
.footerre{
    width: 100%;
    display:flex;
    flex-wrap: nowrap;

    flex-direction:row;
    margin: 24px;
    /* padding-bottom: 20px;
    padding-right: 40px; */
}
.footerreh2{
    padding-top:20px ;
    padding-bottom: 20px;
    padding-right: 40px;
}


.cropped1 {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    border: 5px solid black;
}

/* .avatar_container{

    margin: 5%;
    width: 90%;
    height:150px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: url("./image//Майфото2.jpg"); 
    background-position: center center;
    background-size: cover;
}

.avatar{
    height: 200px;}
    */

.Contact {
    color:white;
}

.tctitle{
    background-color:white;
}
.datafor{
    width: 20%;
    color: #233551;
}
.formationbody{
    width: 80%;
}
.recomendcolumn{
    width: 30%;
    margin-bottom: 20px;
    padding-right: 10px;
   
}
.recomendcolumn h3{
    padding-bottom: 20px;
}
.recomendcolumn a{
    padding-top: 20px;
}
.loisirIcon{
    width: 15%;
    height: auto;
    padding: 10px;
}